.home {
    background-color: $headline_c;
    flex: 1 0 100%;
    display: flex;
    align-items: stretch;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &__container {
        position: relative;
    }
}

.home .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;

    &__item {
        height: 100vh;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 8%;
        left: 100%;
    }

    .owl-stage {
        display: flex;
    }

    .owl-nav > button {
        @include transition-all();

        background-color: $dark_c;
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-position: center center;
        width: 56px;
        height: 56px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 0;
        text-indent: -9999px;
        z-index: 2;
    }

    .owl-prev {
        background-image: url("#{$svg}/prev.svg");
        left: 0;

        &:hover {
            background-image: url("#{$svg}/prev_h.svg");
        }
    }

    .owl-next {
        background-image: url("#{$svg}/next.svg");
        right: 0;

        &:hover {
            background-image: url("#{$svg}/next_h.svg");
        }
    }
}

.home .content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    padding: 10% 0;
    box-sizing: border-box;

    &__slogan {
        margin-bottom: 30px;
        text-align: center;
        text-shadow: 0 0 30px #000;
    }
    &__subtitle,
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }

    &__subtitle {
        font-size: 30px;
    }

    &__title {
        font-size: 79px;
    }

    &__thirdtitle {
        font-size: 34px;
        font-weight: 200;
        color: $content_c;
    }

    &__action {
        @include row-flex();
        justify-content: center;
        z-index: 1;

        &-btn {
            flex: 0 0 auto;
            min-width: 15%;
            margin: 0 15px;
        }
    }
}